/*basic-set*/
input[type=text],
input[type=password],
textarea
{
    -webkit-box-sizing :border-box;‌​
    -moz-box-sizing :border-box,
    box-sizing :border-box,
	line-height:auto,
	vertical-align:top;
}
* { position:relative; transition:all ease-in-out 0.3s; -webkit-transition:all ease-in-out 0.3s; -webkit-transition-timing-function:cubic-bezier(0.7, 0, 0.3, 1); transition-timing-function:cubic-bezier(0.7, 0, 0.3, 1); word-break:keep-all; }


/* contents */
#wrap { min-width:1780px; padding-bottom:7px; height: 50%;}
#header { height:111px; background:url(../images/header.png) no-repeat center 0 #f7f6f9; z-index:10; }
#dashboard .wrap { margin:-31px 55px; }
.db_area01 { background:#17181D; padding:14px 0 36px;  margin-bottom:12px; }
.db_area01.off { margin-bottom:100px; padding:0; }
/* .db_area01 .wrap { padding-right:113px; } */
.db_area01 .wrap:after { content:''; clear:both; display:block; height:0; visibility:hidden; }
/* .db_area01 .bt_ct { position:absolute; bottom:-21px; right:100px; width:94px; height:61px; background:url(../images/db_a01_bt_close.png); text-indent:-9999px; } */
.db_area01.off .bt_ct { bottom:-80px; height:80px; background:url(../images/db_a01_bt_open.png); }
.db_area01 h2 { position:absolute; top:0; left:0; visibility:hidden; }
.db_area01 .box { top:25px; float:left; height:83px;  background:#fff; margin-right:7px; border-radius:8px; font-size:32px; font-weight:700; } /* border:2px solid #e9e9f4;*/
.db_area01.off .box { display:none; }
.db_area01 .box.b00 { width:calc(11% - -62px); background-color: #282834; color: white;}
.db_area01 .box.b01 { width:calc(20% - 136px); background-color: #282834; color: white;}
.db_area01 .box.b02 { width:calc(14% - 23px); background-color: #282834; color: white;}
.db_area01 .box.b03 { width:calc(20% - 176px); background-color: #282834; color: white;}
.db_area01 .box.b04 { width:calc(31.4% - -264px); background-color: #282834; color: white;}
.db_area01 .box h3 { font-weight: 300; position:absolute; top:8px; left:26px; font-size:17px; color:#3b374d; }
.db_area01 .box h3:before { content:''; display:inline-block; vertical-align:middle; margin:-3px 10px 0 0; }
.db_area01 .box.b00 h3:before { width:26px; height:26px; background-image:url(../images/db_a01_ic11.png); }
.db_area01 .box.b01 h3:before { width:26px; height:26px; background-image:url(../images/db_a01_ic01.png); }
.db_area01 .box.b02 h3:before { width:31px; height:27px; background-image:url(../images/db_a01_ic02.png); }
.db_area01 .box.b03 h3:before { width:21px; height:25px; background-image:url(../images/db_a01_ic03.png); }
.db_area01 .box.b04 h3:before { width:24px; height:24px; background-image:url(../images/db_a01_ic04.png); }
.db_area01 .box p { font-weight: 300; position:absolute; bottom:19px; left:26px; right:26px; line-height:100%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-size:19px;}
.db_area01 .box .date { position:absolute; bottom:10px; left:26px; width:calc(100% - 374px); border-bottom:2px solid #dad5e0; }
.db_area01 .box .date:after { content:''; position:absolute; top:24px; right:19px; width:16px; height:10px; background:url(../images/db_a01_select_arrow.png); }
.db_area01 .box input[type=text] {font-family: "Noto Sans KR"; font-weight: 300; background-color: #282834; width:100%; padding-right:55px; height:32px; border:0; font-size:19px; color:white; vertical-align:bottom; outline:0; letter-spacing:-1px; }
.db_area01 .box .bt_excel { position:absolute; bottom:19px; right:19px; width:180px; line-height:46px; font-size:22px; color:#fff; font-weight:700; text-align:center; border-radius:15px; 
    background: -webkit-linear-gradient(top, rgba(111,208,179,1) 0%,rgba(32,187,164,1) 100%); 
    background: linear-gradient(to bottom, rgba(111,208,179,1) 0%,rgba(32,187,164,1) 100%); 
    }
    .db_area01 .box .bt_excel:after { content:''; display:inline-block; width:11px; height:17px; background:url(../images/db_a01_bt_report_arrow.png); vertical-align:middle; margin:-3px 0 0 15px; }
    .db_area01 .box .bt_excel:hover { text-decoration:none; }
    .db_area01 .box .bt_report { position:absolute; bottom:19px; right:205px; width:133px; line-height:46px; font-size:22px; color:#fff; font-weight:700; text-align:center; border-radius:15px; 
    background: -webkit-linear-gradient(top, rgba(111,208,179,1) 0%,rgba(32,187,164,1) 100%); 
    background: linear-gradient(to bottom, rgba(111,208,179,1) 0%,rgba(32,187,164,1) 100%); 
    }
    .db_area01 .box .bt_report:after { content:''; display:inline-block; width:11px; height:17px; background:url(../images/db_a01_bt_report_arrow.png); vertical-align:middle; margin:-3px 0 0 15px; }
    .db_area01 .box .bt_report:hover { text-decoration:none; }

.db_area02 { display:block; margin-bottom:30px; background-color: #17181D;}
.db_area02 .wrap { top:67px; display:block; background:#282834; border-radius:8px; height:70px; line-height:100px; box-shadow:0 12px 18px rgba(57,42,123,0.1); color: white;}
.db_area02 .wrap h2 { position:absolute; top:50%; left:12px; transform:translateY(-50%); -webkit-transform:translateY(-50%); padding-left:36px; font-size:17px; line-height:24px; background:url(../images/db_a02_t_ic.png) no-repeat 0 0; }
.db_area02 .wrap ul { position:absolute; top:50%; right:0; width:72%; transform:translateY(-50%); -webkit-transform:translateY(-50%); }
.db_area02 .wrap ul li { float:left; width:28.333333%; line-height:42px; }
.db_area02 .wrap ul li:before { content:''; position:absolute; top:50%; left:0; width:4px; height:30px; margin-top:-15px; background:#d3cfde; border-radius:2px; }
.db_area02 .wrap ul li:nth-child(1):before { display:none; }
.db_area02 .wrap ul li h3 { position:absolute; top:0; left:12%; font-size:18px; }
.db_area02 .wrap ul li h3:before { content:''; display:inline-block; vertical-align:middle; margin:-3px 10px 0 0; }
.db_area02 .wrap ul li:nth-child(1) h3:before { width:21px; height:41px; background:url(../images/db_a02_s_ic01.png); }
.db_area02 .wrap ul li:nth-child(2) h3:before { width:50px; height:31px; background:url(../images/db_a02_s_ic02.png); }
.db_area02 .wrap ul li:nth-child(3) h3:before { width:50px; height:31px; background:url(../images/db_a02_s_ic03.png); }
.db_area02 .wrap ul li p {font-weight: 300; text-align:right; padding-right:6%; font-size:20px; color:#000; }
.db_area02 .wrap ul li p em { font-size:18px; margin-left:10px; }

.db_area03 .total_m {  margin:0 -9px; }
.db_area03 .total_m_1 { display:block; right:-2px; height:76px;  background-color: #282834; line-height:100px; border-radius:8px; background-size:cover;  box-shadow:0 12px 18px rgba(57,42,123,0.1); top:315px; }
.db_area03 .total_m h2 { position:absolute; top:26px; left:26px; padding-left:39px; background:url(../images/db_a03_t_ic.png) no-repeat 0 0; line-height:28px; font-size:17px; color:#3b374d; }
.db_area03 .total_m .s_box {position:absolute;  top:50%; height:170px; line-height:50px; top:-44px; border-radius:20px; width:calc(50% - 1000px); }
.db_area03 .total_m .s_box.s01 {position:absolute;  left:50px;  top: 100px; background-position:50% 50%; background-repeat:no-repeat; }
.db_area03 .total_m .s_box.s02 { position:absolute; right:1850px;  top: 100px;line-height:100px; }
.db_area03 .total_m .s_box.s03 {position:absolute; right:1850px; background:rgb(219, 219, 219);; top: 100px;line-height:50px; }
.db_area03 .total_m .s_box h3 { position:absolute; top:0; left:-30px; font-size:24px; color:#000; font-weight:450; }
.db_area03 .total_m .s_box h3:before { content:''; display:inline-block; vertical-align:middle; margin:-3px 15px 0 0; }
.db_area03 .total_m .s_box.s01 h3:before {position:absolute; background-position:50% 50%;line-height:100px; width:31px; height:31px; background:url(../images/db_a02_s_ic02.png); }
.db_area03 .total_m .s_box.s02 h3:before {position:absolute;background-position:50% 50%; line-height:100px; width:40px; height:31px; background:url(../images/db_a02_s_ic03.png); }
.db_area03 .total_m .s_box p { font-size:24px; color:#000; text-align:right; padding-right:100px; }
.db_area03 .total_m .s_box .bt_view_detail { position:absolute; top:50%; right:20px; width:40px; height:40px; margin-top:-20px; background:url(../images/db_a03_s01_bt_view.png); text-indent:-9999px; }
.db_area03 .total_m .s_box.s02 .bt_view_detail { background:url(../images/db_a03_s02_bt_view.png); }
.db_area03 .total_m .c_box { position:absolute; top:30px; left:75%; width:80px; height:200px; padding-top:55px; margin-left:-100px;  font-size:37px; line-height:200%; color:rgb(179, 185, 181); font-weight:600; text-align:center; }
.db_area03 .total_m .c_box span { display:block; }
/* .db_area03 .total_m .c_box .bar {  line-height:100px; border-radius:20px; background:url(../images/graph.png); top:-60px; left:-500px; transform:translateX(0%); -webkit-transform:translateX(-45%); width:400px; height:500px; border:11px solid rgba(0,0,0,0.0); border-radius:82px;} */
.db_area03 .total_m .c_box .bar i {  width:7px; height:17px; background:#fff; border:2px solid #e9e9f4; border-radius:100%; box-shadow:0 4px 7px rgba(228, 228, 230, 0.1); font-size:10px; color:#000; text-indent:-9999px; }
.db_area03 .total_m .c_box .bar i.po1 { top:130px; left:-12px; }
.db_area03 .total_m .c_box .bar i.po2 { top:100px; left:-15px; }
.db_area03 .total_m .c_box .bar i.po3 { top:68px; left:-15px; }
.db_area03 .total_m .c_box .bar i.po4 { top:40px; left:-12px; }
.db_area03 .total_m .c_box .bar i.po5 { top:10px; left:2px; }
.db_area03 .total_m .c_box .bar i.po6 { top:-9px; left:26px; }
.db_area03 .total_m .c_box .bar i.po7 { top:-16px; left:56px; }
.db_area03 .total_m .c_box .bar i.po8 { top:-17px; left:86px; }
.db_area03 .total_m .c_box .bar i.po9 { top:-16px; right:56px; }
.db_area03 .total_m .c_box .bar i.po10 { top:-9px; right:26px; }
.db_area03 .total_m .c_box .bar i.po11 { top:10px; right:2px; }
.db_area03 .total_m .c_box .bar i.po12 { top:40px; right:-12px; }
.db_area03 .total_m .c_box .bar i.po13 { top:68px; right:-15px; }
.db_area03 .total_m .c_box .bar i.po14 { top:100px; right:-15px; }
.db_area03 .total_m .c_box .bar i.po15 { top:130px; right:-12px; }

.db_area03 .noti { display: block; line-height:100px; top:0; right:0px; width:500px; height:206px; border:4px solid #f6c57b; background-color: #ffd490; border-radius:20px; background-size:cover; box-shadow:0 12px 18px rgba(57,42,123,0.1);}
.db_area03 .noti h2 { position:absolute; top:21px; left:30px; font-size:17px; padding-left:40px; line-height:29px; background:url(../images/db_noti_t_ic.png) no-repeat 0 0; }
.db_area03 .noti > div { position:absolute; top:21px; left:27px; }
.db_area03 .noti .tx { font-size:30px; line-height:32px; color:#000000; font-weight:700; text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; }
.db_area03 .noti .tx01 { top:70px; font-size:30px; line-height:32px; color:#000000; font-weight:700; text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; }
.db_area03 .noti .tx02 { top:110px; font-size:19px; line-height:28px; color:#e74c62; font-weight:700; text-shadow: -1px -1px 0 #ffd390, 1px -1px 0 #ffd390, -1px 1px 0 #ffd390, 1px 1px 0 #ffd390; }
.db_area03 .noti .tx03 { top:190px; font-size:19px; line-height:28px; color:#e74c62; font-weight:700; text-shadow: -1px -1px 0 #ffd390, 1px -1px 0 #ffd390, -1px 1px 0 #ffd390, 1px 1px 0 #ffd390; }
.db_area03 .noti .tx04 { top:220x; font-size:19px; line-height:28px; color:#e74c62; font-weight:700; text-shadow: -1px -1px 0 #ffd390, 1px -1px 0 #ffd390, -1px 1px 0 #ffd390, 1px 1px 0 #ffd390; }

.db_area03 .e_item { margin:0 -9px; bottom: -85px;}
.db_area03 .e_item:after { content:''; clear:both; display:block; height:0; visibility:hidden; }
.db_area03 .e_item li { float:left; width:calc(14.2857% - 19px);  border-radius:8px; margin:0 9px; height:183px;  box-shadow:0 12px 18px rgba(57,42,123,0.1); top:0px}
.db_area03 .e_item li:hover { background:#ffffff; box-shadow:0 12px 18px rgba(57,42,123,0.1);}
.db_area03 .e_item li .ic { position:absolute; top:23px; left:0; right:0; bottom:82px; background-position:50% 50%; background-repeat:no-repeat; height: 102px;}
/* .db_area03 .e_item li.e01 .ic { background-image:url(../images/db_a03_s02_ic.png); }
.db_area03 .e_item li.e02 .ic { background-image:url(../images/db_a03_s01_ic_ov.png);}
.db_area03 .e_item li.e03 .ic { background-image:url(../images/db_a04_ic03.png); }
.db_area03 .e_item li.e04 .ic { background-image:url(../images/db_a04_ic04.png); }
.db_area03 .e_item li.e05 .ic { background-image:url(../images/db_a04_ic05.png); }
.db_area03 .e_item li.e06 .ic { background-image:url(../images/db_a04_ic06.png); }
.db_area03 .e_item li.e07 .ic { background-image:url(../images/db_a04_ic07.png); } */
.db_area03 .e_item li.e08 .ic { position:absolute; }
.db_area03 .e_item li.e09 .ic { position:absolute; }
/* .db_area03 .e_item li.e10 .ic { background-image:url(../images/graph.png); width: 1000px; height:206px;} */
.db_area03 .e_item li.e11 .ic { position:fixed; }
/* .db_area03 .e_item li.e01:hover .ic { background-image:url(../images/db_a03_s02_ic_ov.png); }
.db_area03 .e_item li.e02:hover .ic { background-image:url(../images/db_a03_s01_ic.png); }
.db_area03 .e_item li.e03:hover .ic { background-image:url(../images/db_a04_ic03ov.png); }
.db_area03 .e_item li.e04:hover .ic { background-image:url(../images/db_a04_ic04ov.png); }
.db_area03 .e_item li.e05:hover .ic { background-image:url(../images/db_a04_ic05ov.png); }
.db_area03 .e_item li.e06:hover .ic { background-image:url(../images/db_a04_ic06ov.png); }
.db_area03 .e_item li.e07:hover .ic { background-image:url(../images/db_a04_ic07ov.png); } */
.db_area03 .e_item li .tx { position:absolute; bottom:15px; left:26px; line-height:230%; font-size: 10px;}
.db_area03 .e_item li .tx h3 { font-size:18px; color:#ececec; }
.db_area03 .e_item li:hover .tx h3 { color:rgb(255, 255, 255); }
.db_area03 .e_item li .tx p { font-size:18px; color:#fcfcfc; }
.db_area03 .e_item li:hover .tx p { color:#fff; }
.db_area03 .e_item li .tx p em { font-weight:300; margin-left:20px; transition:none; -webkit-transition:none; }
.db_area03 .e_item li .bt_view_detail { position:absolute; bottom:18px; right:18px; width:50px; height:50px; background:url(../images/db_a04_bt_view_detail.png); text-indent:-9999px; }
.db_area03 .e_item li:hover .bt_view_detail { background:url(../images/db_a04_bt_view_detail_ov.png); }

.pickmeup { background:#17181d; border-radius:.4em; -moz-box-sizing:content-box; box-sizing:content-box; display:inline-block; position:absolute; touch-action:manipulation; z-index:99; }
.pickmeup * { -moz-box-sizing:border-box; box-sizing:border-box }
.pickmeup.pmu-flat { position:relative }
.pickmeup.pmu-hidden { display:none }
.pickmeup .pmu-instance { display:inline-block; width:25em; height:21em; padding:1em; text-align:center;  }
.pickmeup .pmu-instance .pmu-button { color:#eee; cursor:pointer; outline:none; text-decoration:none }
.pickmeup .pmu-instance .pmu-today { background:#dedbff; color:#5545f5; border-radius:50px; }
.pickmeup .pmu-instance .pmu-button:hover { background:transparent; color:#88c5eb }
.pickmeup .pmu-instance .pmu-not-in-month { color:#43a9e9 }
.pickmeup .pmu-instance .pmu-disabled,
.pickmeup .pmu-instance .pmu-disabled:hover { color:#333; cursor:default }
.pickmeup .pmu-instance .pmu-selected { background:#fff; color:#17181d }
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected { background:#17384d }
.pickmeup .pmu-instance nav { color:#eee; display:-ms-flexbox; display:-webkit-flex; display:flex; line-height:2em; }
.pickmeup .pmu-instance nav *:first-child :hover { color:#88c5eb }
.pickmeup .pmu-instance nav:first-child { padding:0 50px; font-size:16px; }
.pickmeup .pmu-instance nav .pmu-prev,
.pickmeup .pmu-instance nav .pmu-next { display:inline-block; height:2em; width:1em; }
.pickmeup .pmu-instance nav .pmu-month { display:inline-block; width:14em; }
.pickmeup .pmu-instance .pmu-years *,
.pickmeup .pmu-instance .pmu-months * { display:inline-block; line-height:3.6em; width:3.5em }
.pickmeup .pmu-instance .pmu-day-of-week { color:#fff; cursor:default }
.pickmeup .pmu-instance .pmu-day-of-week *,
.pickmeup .pmu-instance .pmu-days * { display:inline-block; line-height:2em; width:14.25%; font-size:14px; }
.pickmeup .pmu-instance .pmu-day-of-week * { line-height:1.8em }
.pickmeup .pmu-instance:first-child .pmu-prev,
.pickmeup .pmu-instance:last-child .pmu-next { display:block }
.pickmeup .pmu-instance:first-child .pmu-month,
.pickmeup .pmu-instance:last-child .pmu-month { width:13em }
.pickmeup .pmu-instance:first-child:last-child .pmu-month { width:12em }
.pickmeup:not(.pmu-view-days) .pmu-days,
.pickmeup:not(.pmu-view-days) .pmu-day-of-week,
.pickmeup:not(.pmu-view-months) .pmu-months,
.pickmeup:not(.pmu-view-years) .pmu-years { display:none }

html.on { height:100%; }

.pu_bg { position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); z-index:10; display:none; }
.pu { position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); width:1052px; border:2px solid #dedef0; background:#fff;  z-index:11; box-shadow:0 20px 26px rgba(0,0,0,0.1); display:none; }
.pu h3 { line-height:94px; background:#f7f6f9; font-size:24px; font-weight:700; padding:0 37px; }
.pu .bt_close { position:absolute; top:37px; right:40px; width:23px; height:24px; background:url(../images/pu_bt_close.png); text-indent:-9999px; }
.pu.pu_d_data .date { position:absolute; top:18px; right:88px; }
.pu .date h4 { display:inline-block; font-size:20px; line-height:63px; font-weight:700; color:rgba(59,55,77,0.5); margin-right:17px; }
.pu .date span { display:inline-block; vertical-align:top; }
.pu .date span:after { content:''; position:absolute; top:27px; right:22px; width:16px; height:10px; background:url(../images/pu_date_arrow.png); }
.pu .date input[type=text] { width:418px; height:63px; border-radius:35px; border:0; font-size:20px; color:#3b374d; text-align:center; vertical-align:top; outline:0; letter-spacing:-0.5px; }

.pu.pu_d_data .con { padding:25px 33px 31px; }
.pu.pu_d_data .con .graph { margin:0 -15px 13px; }
.pu.pu_d_data .con .graph:after { content:''; clear:both; display:block; height:0; visibility:hidden; }
.pu.pu_d_data .con .graph .box { float:left; width:calc(50% - -42px); height:405px; margin:0 15px; border:4px solid #f7f6f9; }
.pu.pu_d_data .con .graph .box h4 { height:100%; position:absolute; top:17px; left:13px; padding-left:36px; line-height:26ppx; background:url(../images/pu_g_area_t_ic.png) no-repeat 0 0; font-size:17px; font-weight:700; }
.pu.pu_d_data .con .graph .box canvas { position:absolute; top:70px; width:450px;}
.pu.pu_d_data .con .graph .box span { position:absolute; top:70px; width:450px; font-size: 20pt;}
.pu.pu_d_data .con .bot { margin:0 -15px; }
.pu.pu_d_data .con .bot:after { content:''; clear:both; display:block; height:0; visibility:hidden; }
.pu.pu_d_data .con .bot li { float:left; width:calc(64% - 30px); margin:0 15px; height:46px; line-height:46px; text-align:center; background:#f7f6f9; border-radius:30px; }
.pu.pu_d_data .con .bot li.alarm { font-size:18px; color:#f53e5b; text-align:center; background:#fedcda; }
.pu.pu_d_data .con .bot li.alarm:before { content:''; display:inline-block; width:22px; height:21px; background:url(../images/pu_ic_warning.png); vertical-align:middle; margin:-3px 10px 0 0; }

.pu.pu_report .date { padding:40px 0 47px; text-align:center; background:#f7f6f9; text-align:center; border-top:2px solid #e0dce9; }
.pu.pu_report .date .bt_ga_report { display:inline-block; width:198px; line-height:63px; background:#7d5efe; font-size:26px; color:#fefefe; font-weight:700; text-align:center; border-radius:32px; margin-left:16px; }
.pu.pu_report .date .bt_ga_report:hover { text-decoration:none; }
.pu.pu_report .btns { text-align:center; padding:30px 0 28px; }
.pu.pu_report .btns a { display:inline-block; padding-left:28px; width:259px; line-height:62px; border:2px solid #e8eaef; border-radius:15px; font-size:20px; color:#3b374d; font-weight:700; margin:0 4px; text-align:left; }
.pu.pu_report .btns a:hover { text-decoration:none; }
.pu.pu_report .btns a:before { content:''; display:inline-block; vertical-align:middle; margin:-3px 15px 0 0; }
.pu.pu_report .btns a:after { content:''; position:absolute; top:25px; right:28px; width:9px; height:15px; background:url(../images/pu_report_bt_arrow.png); }
.pu.pu_report .btns a.bt_rp_view:before { width:36px; height:21px; background:url(../images/pu_report_bt_ic01.png); }
.pu.pu_report .btns a.bt_rp_download:before { width:28px; height:28px; background:url(../images/pu_report_bt_ic02.png); }
.pu.pu_report .btns a.bt_d_download:before { width:31px; height:33px;  }

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

    
.test { display:inline-block;}


