<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ethree.iot.mapper.RecentDataMapper">

	<resultMap id="recentData"
		type="com.ethree.iot.vo.RecentDataVO">
		<result property="id" 			 column="id" />
		<result property="serialNumber" column="serial_number" />
		<result property="e3Index"       column="e3_index" />
		<result property="e3Score"       column="e3_score" />
		<result property="pm10"          column="pm10" />
		<result property="pm10Index"     column="pm10_index" />
		<result property="pm10Alarm"     column="pm10_alarm" />
		<result property="pm10Org"       column="pm10_org" />
		<result property="pm25"          column="pm25" />
		<result property="pm25Index"     column="pm25_index" />
		<result property="pm25Alarm"     column="pm25_alarm" />
		<result property="pm25Org"       column="pm25_org" />
		<result property="co2"           column="co2" />
		<result property="co2Index"      column="co2_index" />
		<result property="co2Alarm"      column="co2_alarm" />
		<result property="co2Org"        column="co2_org" />
		<result property="hcho"          column="hcho" />
		<result property="hchoIndex"     column="hcho_index" />
		<result property="hchoAlarm"     column="hcho_alarm" />
		<result property="hchoOrg"       column="hcho_org" />
		<result property="voc"           column="voc" />
		<result property="vocIndex"      column="voc_index" />
		<result property="vocAlarm"      column="voc_alarm" />
		<result property="vocOrg"        column="voc_org" />
		<result property="temperature"   column="temperature" />
		<result property="temperatureIndex"    column="temperature_index" />
		<result property="temperatureAlarm"    column="temperature_alarm" />
		<result property="temperatureOrg"      column="temperature_org" />
		<result property="humidity"            column="humidity" />
		<result property="humidityIndex"       column="humidity_index" />
		<result property="humidityAlarm"       column="humidity_alarm" />
		<result property="humidityOrg"         column="humidity_org" />
		<result property="noise"               column="noise" />
		<result property="noiseIndex"          column="noise_index" />
		<result property="noiseAlarm"          column="noise_alarm" />
		<result property="noiseOrg"            column="noise_org" />
		<result property="co"                  column="co" />
		<result property="coIndex"             column="co_index" />
		<result property="coAlarm"             column="co_alarm" />
		<result property="coOrg"               column="co_org" />
		<result property="regDt"               column="reg_dt" />
		<result property="modDt"               column="mod_dt" />
	</resultMap>
 
	<insert id="saveRecentDataSerialNumber" parameterType="hashMap">
	INSERT INTO PUBLIC."${tableName}" (
	e3_index,
	e3_score,
	pm10,
	pm10_index,
	pm10_alarm,
	pm10_org,
	pm25,
	pm25_index,
	pm25_alarm,
	pm25_org,
	co2,
	co2_index,
	co2_alarm,
	co2_org,
	hcho,
	hcho_index,
	hcho_alarm,
	hcho_org,
	voc,
	voc_index,
	voc_alarm,
	voc_org,
	temperature,
	temperature_index,
	temperature_alarm,
	temperature_org, 
	humidity,
	humidity_index,
	humidity_alarm,
	humidity_org,
	noise,
	noise_index,
	noise_alarm,
	noise_org,
	co,
	co_index,
	co_alarm,
	co_org,
	reg_dt,
	mod_dt,
	param_dt
	) VALUES (
	#{recentVO.e3Index},
	#{recentVO.e3Score},
	#{recentVO.pm10},
	#{recentVO.pm10Index},
	#{recentVO.pm10Alarm},
	#{recentVO.pm10Org},
	#{recentVO.pm25},
	#{recentVO.pm25Index},
	#{recentVO.pm25Alarm},
	#{recentVO.pm25Org},
	#{recentVO.co2},
	#{recentVO.co2Index},
	#{recentVO.co2Alarm},
	#{recentVO.co2Org},
	#{recentVO.hcho},
	#{recentVO.hchoIndex},
	#{recentVO.hchoAlarm},
	#{recentVO.hchoOrg},
	#{recentVO.voc},
	#{recentVO.vocIndex},
	#{recentVO.vocAlarm},
	#{recentVO.vocOrg},
	#{recentVO.temperature},
	#{recentVO.temperatureIndex},
	#{recentVO.temperatureAlarm},
	#{recentVO.temperatureOrg},
	#{recentVO.humidity},
	#{recentVO.humidityIndex},
	#{recentVO.humidityAlarm},
	#{recentVO.humidityOrg},
	#{recentVO.noise},
	#{recentVO.noiseIndex},
	#{recentVO.noiseAlarm},
	#{recentVO.noiseOrg},
	#{recentVO.co},
	#{recentVO.coIndex},
	#{recentVO.coAlarm},
	#{recentVO.coOrg},
	NOW(),
    NOW(),
    #{recentVO.paramDt}
	)
	</insert>
	
	<update id="saveRecentData" parameterType="hashMap">
	WITH UPSERT AS (
	UPDATE PUBLIC."recent_data" SET
	pm10=#{recentVO.pm10},
	pm25=#{recentVO.pm25},
	co2=#{recentVO.co2},
	hcho=#{recentVO.hcho},
	voc=#{recentVO.voc},
	temperature=#{recentVO.temperature},
	humidity=#{recentVO.humidity},
	noise=#{recentVO.noise},
	co=#{recentVO.co},
	e3_score=#{recentVO.e3Index},
	e3_index=#{recentVO.e3Score},
	pm10_index=#{recentVO.pm10Index},
	pm25_index=#{recentVO.pm25Index},
	co2_index=#{recentVO.co2Index},
	hcho_index=#{recentVO.hchoIndex},
	voc_index=#{recentVO.vocIndex},
	temperature_index=#{recentVO.temperatureIndex},
	humidity_index=#{recentVO.humidityIndex},
	noise_index=#{recentVO.noiseIndex},
	co_index=#{recentVO.coIndex},
	pm10_alarm=#{recentVO.pm10Alarm},
	pm25_alarm=#{recentVO.pm25Alarm},
	co2_alarm=#{recentVO.co2Alarm},
	hcho_alarm=#{recentVO.hchoAlarm},
	voc_alarm=#{recentVO.vocAlarm},
	temperature_alarm=#{recentVO.temperatureAlarm},
	humidity_alarm=#{recentVO.humidityAlarm},
	noise_alarm=#{recentVO.noiseAlarm},
	co_alarm=#{recentVO.coAlarm},
	mod_dt=NOW(),
	param_dt=#{recentVO.paramDt}
	WHERE device_sn=#{deviceSN} RETURNING *
	) INSERT INTO
	PUBLIC."recent_data" (
	device_sn,
	pm10,
	pm25,
	co2,
	hcho,
	voc,
	temperature,
	humidity,
	noise,
	co,
	e3_score,
	e3_index,
	pm10_index,
	pm25_index,
	co2_index,
	hcho_index,
	voc_index,
	temperature_index,
	humidity_index,
	noise_index,
	co_index,
	pm10_alarm,
	pm25_alarm,
	co2_alarm,
	hcho_alarm,
	voc_alarm,
	temperature_alarm,
	humidity_alarm,
	noise_alarm,
	co_alarm,
	reg_dt,
	mod_dt,
	param_dt
	) SELECT
	#{recentVO.serialNumber},
	#{recentVO.pm10},
	#{recentVO.pm25},
	#{recentVO.co2},
	#{recentVO.hcho},
	#{recentVO.voc},
	#{recentVO.temperature},
	#{recentVO.humidity},
	#{recentVO.noise},
	#{recentVO.co},
	#{recentVO.e3Index},
	#{recentVO.e3Score},
	#{recentVO.pm10Index},
	#{recentVO.pm25Index},
	#{recentVO.co2Index},
	#{recentVO.hchoIndex},
	#{recentVO.vocIndex},
	#{recentVO.temperatureIndex},
	#{recentVO.humidityIndex},
	#{recentVO.noiseIndex},
	#{recentVO.coIndex},
	#{recentVO.pm10Alarm},
	#{recentVO.pm25Alarm},
	#{recentVO.co2Alarm},
	#{recentVO.hchoAlarm},
	#{recentVO.vocAlarm},
	#{recentVO.temperatureAlarm},
	#{recentVO.humidityAlarm},
	#{recentVO.noiseAlarm},
	#{recentVO.coAlarm},
	NOW(),
	NOW(),
	#{recentVO.paramDt}
	WHERE NOT EXISTS (SELECT * FROM UPSERT)
	</update>
</mapper>